extends ../base
block append head
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" referrerpolicy="no-referrer"></script>
block content
    .title Test
block scripts
    script(src='/js/test.js')