extends base.pug
block content
    .container
        .columns.is-centered
            .column.is-6.my-6
                .title.has-text-weight-normal About:
                .subtitle
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis est iusto fuga! Ipsam tempore tenetur perspiciatis aut eaque vitae. Saepe nulla nobis sit est dolores vitae ab corporis adipisci ad.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo omnis at ipsa. Repudiandae reiciendis, facere sed voluptatem magnam voluptatum, alias delectus cumque molestias ratione ipsum fugiat quisquam ea harum totam.