extends ../base
block content
    .container
        .columns.is-centered
            .column.is-6.my-6.box
                .title #{subject}
                .subtitle Forgot your password? Submit a PATCH request with your new password and paswordConfirm to:
                    a(href=url) reset password by clicking me!!!
                | if you didn't forget your password please ignore this email.