extends ../base.pug
block content 
    .container
        .columns.is-centered 
            .column.is-6.my-6.box 
                .title #{subject}
                .subtitle congrats! User (#{username}) you have been registered successfully!
                | we wish for you the best luck and expreience wthine the use of our app!
