extends ../base.pug
block append head
    script(src='https://js.stripe.com/v3/')
block content
    .container
        .columns.is-centered
            .column.is-1.mt-6.mx-2
                if user.photo === 'default.jpg'
                    figure.image.is-96x96
                        img.is-rounded(src="assets/images/default.jpg" alt="Profile image")
                else
                    figure.image.is-96x96
                        img.is-rounded(src="assets/images/" + user.photo alt="Profile image")

            .column.is-4.mt-6
                .subtitle Username: #{user.username}
                .subtitle Email: #{user.email}

        .columns.is-centered
            .column.box.my-6.is-5
                form.accountSettingsForm
                    legend.title.has-text-weight-normal Account Settings :
                    .field
                        label.label(for='username') Username:
                        .control.has-icons-left
                            input.input(value= user.username type='text' placeholder='username' name='username' required)
                            span.icon.is-small.is-left
                                i.fas.fa-user
                        p.is-danger.help.username

                    .field
                        label.label(for='email') Email:
                        .control.has-icons-left
                            input.input(value= user.email type='email' placeholder='email' name='email' required)
                            span.icon.is-small.is-left
                                i.fas.fa-envelope
                        p.is-danger.help.email

                    .field
                        .control
                            .file
                                label.file-label
                                    input.file-input(type='file' name='photo' accept='image/*')
                                    span.file-cta
                                        span.file-icon
                                            i.fas.fa-upload
                                        span.file-label Choose a file…

                    .field
                        .control
                            button.button.is-primary.update(type='submit') Update Account Settings


        .columns.is-centered
            .column.box.is-5.my-6
                form.passwordSettingsForm
                    legend.title.has-text-weight-normal Password Change :
                    .field
                        label.label(for='currentPassword') Current Password :
                        .control.has-icons-left
                            input.input(type='password' id='currentPassword' placeholder='current password' name='currentPassword' required)
                            span.icon.is-small.is-left
                                i.fas.fa-lock
                        p.is-danger.help.currentPassword

                    .field
                        label.label(for='password') Password :
                        .control.has-icons-left
                            input.input(type='password' id='password' placeholder='password' name='password' required)
                            span.icon.is-small.is-left
                                i.fas.fa-lock
                        p.is-danger.help.password

                    .field
                        .control 
                            button.button.is-primary.updatePassword(type='submit') Update password


                    
                br
                .field
                    .control
                        button.button.is-danger.fas.fa-trash.button-delete(type='button')

                br
                .field
                    .control
                        .subtitle Donation-Made : #{user.donation}$
                        .button.is-warning.fas.fa-donate.donate

block scripts
    script(src='/js/updateUser.js')