extends ../base.pug
block content
    .container
        .columns.is-centered
            .column.box.my-6.is-5
                form      
                    .field
                        label.label(for='email') Email:
                        .control.has-icons-left
                            input.input(type='email' placeholder='email' name='email' required)
                            span.icon.is-small.is-left
                                i.fas.fa-envelope
                        p.is-danger.help.email

                    .field
                        label.label(for='password') Password:
                        .control.has-icons-left
                            input.input(type='password' placeholder='password' name='password' required)
                            span.icon.is-small.is-left
                                i.fas.fa-lock
                        p.is-danger.help.password

                    .field
                        .control
                            button.button.is-primary Register

                    .field
                        .control
                            |forgot your password ?
                            a(href='/forgot-password')  reset password
block scripts
    script(src='/js/login.js')