extends ../base.pug
block content
    .container
        .columns.is-centered
            .column.box.my-6.is-5
                form
                    .field
                        label.label(for='username') Username:
                        .control.has-icons-left
                            input.input(type='text' placeholder='username' name='username' required)
                            span.icon.is-small.is-left
                                i.fas.fa-user
                        p.is-danger.help.username
                    
                    .field
                        label.label(for='email') Email:
                        .control.has-icons-left
                            input.input(type='email' placeholder='email' name='email' required)
                            span.icon.is-small.is-left
                                i.fas.fa-envelope
                        p.is-danger.help.email

                    .field
                        label.label(for='password') Password:
                        .control.has-icons-left
                            input.input(type='password' placeholder='password' name='password' required)
                            span.icon.is-small.is-left
                                i.fas.fa-lock
                        p.is-danger.help.password

                    .field
                        label.label(for='confimrmPassword') Confirm-Password :
                        .control.has-icons-left
                            input.input(type='password' id='confirmPassword' placeholder='confimr password' name='confirmPassword' required)
                            span.icon.is-small.is-left
                                i.fas.fa-lock
                        p.is-danger.help.confirmPassword

                    .field
                        .control
                            button.button.is-primary(type='submit') Register

                    .field
                        .control
                            | have an account?
                            a(href='/login')  sign in

block scripts
    script(src='/js/register.js')