extends ../base.pug
block content
    .container
        .columns.is-centered
            .column.box.my-6.is-5
                form(data-token=token)
                    .field
                        label.label(for='password') Reset-Password:
                        .control.has-icons-left
                            input.input(type='password' placeholder='password' name='password' required)
                            span.icon.is-small.is-left
                                i.fas.fa-lock
                        p.is-danger.help.password

                    .field
                        .control
                            button.button.is-primary Reset Password

block scripts
    script(src='/js/resetPassword.js')